<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>badge</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-list>
    <ion-item>
      <ion-label>Badge</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Followers</ion-label>
      <ion-badge color="primary" slot="end">22k</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Likes</ion-label>
      <ion-badge color="secondary" slot="end">118k</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Stars</ion-label>
      <ion-badge color="tertiary" slot="end">34k</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Completed</ion-label>
      <ion-badge color="success" slot="end">80</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Warnings</ion-label>
      <ion-badge color="warning" slot="end">70</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Notifications</ion-label>
      <ion-badge color="danger" slot="end">1000</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
<ion-tabs>
  <!-- Tab bar -->
  <ion-tab-bar slot="button">
    <ion-tab-button tab="tab1">
      <ion-icon name="globe"></ion-icon>
      <ion-badge color="tertiary" >44</ion-badge>
    </ion-tab-button>
    <ion-tab-button tab="tab2">
      <ion-icon name="people"></ion-icon>      
      <ion-badge color="success" >1</ion-badge>
    </ion-tab-button>
    <ion-tab-button tab="tab3">
      <ion-icon name="mail"></ion-icon>      
      <ion-badge color="primary" >2.3k</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
