<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>icons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-icon name="logo-ionic"></ion-icon>
  <ion-icon name="logo-pwa"></ion-icon>
  <ion-icon name="logo-ionitron"></ion-icon>
  <ion-icon name="logo-javascript"></ion-icon>
  <ion-icon name="logo-slack"></ion-icon>
  <ion-icon name="logo-android"></ion-icon>
  <ion-icon name="logo-apple"></ion-icon>
</ion-content>
