<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>datetime</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-list inset="true">
    <ion-item>
      <ion-input placeholder="Title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Location"></ion-input>
    </ion-item>
  </ion-list>
 
  <ion-list inset={true}>
    <ion-accordion-group>
      <ion-accordion value="start">
        <ion-item slot="header">
          <ion-label>Starts</ion-label>
          <!-- <ion-note slot="end">j</ion-note> -->
        </ion-item>
        <ion-datetime slot="content" presentation="date-time" onIonChange={this.onStartChange}></ion-datetime>
      </ion-accordion>
      <ion-accordion value="end">
        <ion-item slot="header">
          <ion-label>Ends</ion-label>
          <!-- <ion-note slot="end">k</ion-note> -->
        </ion-item>
        <ion-datetime slot="content" presentation="date-time" value="2022-12-20T00:00:00" onIonChange={this.onEndChange}></ion-datetime>
      </ion-accordion>
    </ion-accordion-group>
    <ion-item>
      <ion-label>Repeat</ion-label>
      <ion-note slot="end">Never</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Travel Time</ion-label>
      <ion-note slot="end">None</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Alert</ion-label>
      <ion-note slot="end">None</ion-note>
    </ion-item>
  </ion-list>

</ion-content>
