<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Cart</ion-title>
    <ion-buttons slot="end">
      <ion-icon slot="icon-only" name="funnel-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true"> 
  <ion-list>
    <ion-card>
      <ion-row >
        <ion-col size="4">
            <ion-item lines="none">      
                <img src="/assets/images/donut.png">    
            </ion-item>     
            <ion-item lines="none">
              <ion-chip outline="true" >
                <ion-icon name="remove" color="primary"></ion-icon>
                <ion-label>1</ion-label>
                <ion-icon name="add"></ion-icon>
              </ion-chip>
            </ion-item>
        </ion-col>
  
        <ion-col size="5">
            <ion-item lines="none">
              <ion-label>
                <h3>Chocholate</h3>
                <h3>Doughnut</h3>
                <p>45 left | <ion-icon slot="icon-only" name="star" color="warning"></ion-icon> 5.0</p>
                <h3>$0.99</h3>
              </ion-label>
            </ion-item>      
        </ion-col>
  
        <ion-col size="3">
            <ion-item lines="none">   
              <ion-icon name="trash-outline" slot="end"></ion-icon>
            </ion-item>       
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card>
      <ion-row>
        <ion-col size="4">
            <ion-item lines="none">      
                <img src="/assets/images/donut.png">    
            </ion-item>      
            <ion-item lines="none">
              <ion-chip outline="true">
                <ion-icon name="remove" color="primary"></ion-icon>
                <ion-label>2</ion-label>
                <ion-icon name="add"></ion-icon>
              </ion-chip>
            </ion-item>
        </ion-col>
  
        <ion-col size="5">
            <ion-item lines="none">
              <ion-label>
                <h3>Cinnamon</h3>
                <h3>Doughnut</h3>
                <p>15 left | <ion-icon slot="icon-only" name="star" color="warning"></ion-icon> 4.5</p>
                <h3>$0.99</h3>
              </ion-label>
            </ion-item>      
        </ion-col>
  
        <ion-col size="3">
            <ion-item lines="none">   
              <ion-icon name="trash-outline" slot="end"></ion-icon>
            </ion-item>       
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-item lines="none">
      <ion-label>Subtotal</ion-label>
      <ion-label slot="end">$2.97</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Discounts</ion-label>
      <ion-label slot="end">$0.00</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label><h1>Total</h1></ion-label>
      <ion-label slot="end"><h1>$2.97</h1></ion-label>
    </ion-item>

      <ion-button expand="block">Check out</ion-button>
  </ion-list>
</ion-content>