  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-label>Home</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="cart">
        <ion-label>Cart</ion-label>
        <ion-icon name="cart"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="order">
        <ion-label>Order</ion-label>
        <ion-icon name="reader-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="notify">
        <ion-label>Notifications</ion-label>
        <ion-icon name="notifications"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
