<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Cart</ion-title>
    <ion-buttons slot="end">
      <ion-icon slot="icon-only" name="funnel-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true"> 
  <ion-list>
    <ion-row>
      <ion-col size="4">
          <ion-item lines="none">      
            <ion-thumbnail slot="start">
              <img src="/assets/images/donut.png">    
            </ion-thumbnail>
          </ion-item>      
          <ion-item>
            <ion-chip color="light" slot="start">
              <ion-icon name="remove" color="primary"></ion-icon>
              <ion-label>1</ion-label>
              <ion-icon name="add"></ion-icon>
            </ion-chip>
          </ion-item>
      </ion-col>

      <ion-col size="4">
        <div>
          <ion-item>
            <ion-label>
              <h3>Chocholate Doughnut</h3>
              <p>45 left</p>
              <p>%0.99</p>
            </ion-label>
          </ion-item>
        </div>         
      </ion-col>

      <ion-col size="4">
        <div>
          <ion-item>   
            <ion-icon name="trash-outline"></ion-icon>
          </ion-item>
        </div>          
      </ion-col>
    </ion-row>
      
    <!-- <div>
      <ion-item lines="none" slot="start">      
        <ion-thumbnail>
          <img src="/assets/images/donut.png">    
        </ion-thumbnail>
      </ion-item>
  
      <ion-item slot="start">
        <ion-chip color="light" slot="start">
          <ion-icon name="remove" color="primary"></ion-icon>
          <ion-label>1</ion-label>
          <ion-icon name="add"></ion-icon>
        </ion-chip>
      </ion-item>
    </div> -->
     
    
  
  </ion-list>
</ion-content>
