<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Accordion</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Colors</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        red
      </div>
      <div class="ion-padding" slot="content">
        green
      </div>
      <div class="ion-padding" slot="content">
        blue
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Shapes</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        circle
      </div>
      <div class="ion-padding" slot="content">
        triangle
      </div>
      <div class="ion-padding" slot="content">
        square
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Number</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        1
      </div>
      <div class="ion-padding" slot="content">
        2
      </div>
      <div class="ion-padding" slot="content">
        3
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>