<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>input</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">First Name</ion-label>
      <ion-input ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Last Name</ion-label>
      <ion-input ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Address</ion-label>
      <ion-input placeholder="Address line1"></ion-input>
      <ion-input placeholder="Address line2"></ion-input>
      <ion-input placeholder="City"></ion-input>
      <ion-input placeholder="state"></ion-input>
      <ion-input placeholder="Zip code"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Note</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full">create account</ion-button>
</ion-content>
