<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Button</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-list-header>
    <ion-label>Small Size</ion-label>
  </ion-list-header>
  <ion-button size="small">default</ion-button>
  <ion-button size="small" color="secondary">secondary</ion-button>
  <ion-button size="small" color="tertiary">tertiary</ion-button>

  <ion-list-header>
    <ion-label>Default Size</ion-label>
  </ion-list-header>
  <ion-button size="default" color="success">success</ion-button>
  <ion-button size="default" color="warning">warning</ion-button>
  <ion-button size="default" color="danger">danger</ion-button>

  <ion-list-header>
    <ion-label>Lager Size</ion-label>
  </ion-list-header>
  <ion-button size="Lager" color="light">Light</ion-button>
  <ion-button size="Lager" color="medium">Medium</ion-button>
  <ion-button size="Lager" color="dark">Dark</ion-button>
  
  <ion-list-header>
    <ion-label>Block Width</ion-label>
  </ion-list-header>
  <ion-button expand="block">A block button</ion-button>

  <ion-list-header>
    <ion-label>Full Width</ion-label>
  </ion-list-header>  
  <ion-button expand="full">A full Width button</ion-button>

</ion-content>
